<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/reset.css" />
    <link rel="stylesheet" href="/assets/css/base.css" />
    <link rel="stylesheet" href="/assets/css/player.css" />
    <script src="/socket.io/socket.io.js"></script>

    <script>
      const rawData = '<%- JSON.stringify(data) %>';
      const data = JSON.parse(rawData);
    </script>
    <title>Player</title>
  </head>
  <body>
    <div class="main">
      <div class="grid main-table">
        <div class="grid-row room-info">
          <span class="grid__col--2 room-info__code"><%= data.roomId %></span>
          <div class="grid__col--1"></div>
          <div class="grid__col--6 dealer">
            <div class="dealer__name"><%= data.dealer.dealerName %></div>
            <ul class="card-list">
              <% const dealer = data.dealer; %> <% const players =
              data.players;%> <% for(let i =0; i < dealer.curCards.length; i++)
              { %>
              <li class="card-list__item">
                <img
                  src="/assets/img/0.png"
                  alt=""
                  class="card-list__item-img"
                />
              </li>
              <%};%>
            </ul>
          </div>
        </div>

        <ul class="grid_row player-list" id="player-list">
          <% for(let i =0; i < players.length; i++) { %> <%
          if(players[i].playerId === data.curPlayer) continue; %>
          <li class="player-item grid__col--2">
            <span class="player-item__name"><%= players[i].playerName %></span>
            <img src="/assets/img/0.png" alt="" class="player-item__img" />
            <span class="player-item__card-number"
              ><%= players[i].curCards.length %></span
            >
          </li>
          <% }; %>
        </ul>
        <div class="grid-row player-area">
          <div class="exit grid__col--1">
            <button class="control-btn btn">Thoát</button>
          </div>
          <div class="player-bet grid__col--2">
            <input
              type="number"
              placeholder="Mức cược"
              class="player-bet__input"
            />
            <button class="btn control-btn player-bet__btn">Đặt cược</button>
          </div>
          <div class="grid__col--6 player">
            <% const curPlayerId = data.curPlayer%> <% const currentPlayer =
            players.find(player => { return player.playerId === curPlayerId});%>
            <div class="player__name"><%= currentPlayer.playerName %></div>
            <ul class="card-list">
              <% for(let i=0;i < currentPlayer.curCards.length; i++) { %>
              <li class="card-list__item">
                <img
                  src="/assets/img/0.png"
                  alt=""
                  class="card-list__item-img"
                />
              </li>
              <% };%>
            </ul>
          </div>

          <div class="player-control grid__col--2">
            <button class="btn control-btn control-btn--disabled">Rút</button>
            <button class="btn control-btn done-btn control-btn--disabled">
              Thôi
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="/script/sub-script/player.js"></script>
  </body>
</html>
